@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


html {
    max-width: 600px;
    height: 55%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
}

* {
    font-family: 'Protest Riot', serif;
}

h1, h2 {
    text-align: center;
}

footer {
    text-align: right;
}
form h4 {
    text-decoration: underline;
    color: darkgrey;
}
form input{
    width: 100%;
    border: 2px solid black;
}

/* inserir media querys?  */